/* Contato */

.map {
    display: block;
    width: 100%;
    height: 100%;
    border:none;
}

.map-wrapper {
    height: 300px;
    margin: 15px -15px -29px;
}

/* @media (max-width: 720px) {

    .map-wrapper {
        width: 100%;
        height: 100vw;
        padding: 20px;
        z-index: 1;
        box-sizing: border-box;
    }
} */

@media (min-width: 720px) {


    .map-wrapper {
        width: 50vw;
        height: auto;
        margin: 0;
        position: absolute;
        top: 78px;
        right: 0;
        bottom: 126px;
        z-index: 1;
    }
    /* .map-wrapper-md {
        width: 50vw;
        position: absolute;
        top: 78px;
        right: 0;
        bottom: 126px;
        z-index: 1;
    } */

}