
.carta{
    background: rgb(187, 141, 214);
    margin-top: 2%;
    padding: 15px;
    height: 650px;
    width: 450px;
    border: 10px solid rgb(161, 99, 18);
    margin-bottom: 30px;
    border-radius: 12px;
}

@media (min-width: 1030px) {
    .carta{
        margin-top: 15%;
        margin-right: 10%;
        margin-left: 5%;
    }
}

.dados{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.nome-col{
    background-color: rgb(231, 225, 143);
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.imagem{
    background: rgb(231, 225, 143, 0.4) url(../img/img-carta-background.png) no-repeat center / cover;
    margin: 5px;
    border-radius: 5px;
    padding: 40px;
    align-items: right;
}

.imagem > img {
    width: 150px;
}

.thumb{
    size: 100%;
    align-items: center;
}

.id,
.peso,
.altura {
    display: inline;
    margin: 0; 
}

.id-col,
.altura-col,
.peso-col {
    background-color: rgb(231, 225, 143);
    height: 40px;
    margin: 15px;
    border-radius: 8px;
    font-size: large;
    text-align: center;
    color: black;
    box-sizing: border-box;
    vertical-align: middle;
    
}

table{
    border: 1px solid black;
    background-color: rgb(231, 225, 143);
    color: black;
    border-radius: 5px;
    border-collapse: collapse;
}

thead{
    font-size: large;
    font-weight: bolder;
}

th,
td{
    border: 1px solid rgb(23, 95, 89);
}


