.deck {
    background: rgb(10, 64, 180);
    margin-top: 5%;
    height: 600px;
    width: 450px;
    border: 10px solid rgb(161, 99, 18);
    border-radius: 10px;
    text-align: center;
}

@media (min-width: 1030px) {
    .deck{
        margin-top: 40%;
        margin-left: 15%;
        margin-right: 5%;
    }
}

.titulo{
    background-image: url(../img/imagem-pokemon);
    padding: 80px;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.ball{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
}

.ball img {
    width: 150px;
}

.botao{
    margin: 5px;
    margin-top: 50px;
    padding: 15px 25px;
    border-radius: 10px;
    background-color:rgb(240, 87, 26);
    color: black;
    font-size: large;  
}

#pokemon-id{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}

#mensagem-erro{
    font-size: large;
    color: rgb(230, 50, 38);
}


